.logo{
    font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0.03em;
text-align: left;
color: #2196F3;
}
.nav-list-link{
    font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
text-align: left;
color: #212121;
}
.contacts-list-link{
    font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
text-align: left;
color: #757575;
}
a{
    text-decoration: none;
}
.nav-list-link:hover,.contacts-list-link:hover{
    color: #2196F3;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    height: 70px;
    font-size: 30px;
}
.nav-list,.contacts-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.logo-header{
    color: black;
}
.section-hero{
    padding-top: 200px;
    padding-bottom: 200px;
    background: #2F303A;

}
body{
    margin: 0;
}
.section-hero-title{
    width: 696px;
    font-family: Roboto;
font-size: 44px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0.06em;
text-align: center;
color: #FFFFFF;
margin: 0 auto;
}
.section-hero-btn{
    width: 216px;
    height: 50px;
    border-radius: 4px;
    background: #2196F3;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
}
.section-features{
    padding-top: 94px;
    padding-bottom: 94px;
}
.features-list{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.features-list li{
    max-width: 270px;
}
.section-work{
    padding-bottom: 94px;
}
.section-work-title{
    margin-bottom: 50px;
    text-align: center;
}
.work-list{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.team-title{
    display: flex;
    justify-content: center;
    
}
.team-list{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.section-team{
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
.footer{
    background:  #2F303A;
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 40px;
}
.footer-logo{
    color: #FFFFFF;
    
}
.box{
    max-width: 1200px;
    margin: 0 auto;
}
.address{
    margin-top: 20px;
}
.address-list-link{
    color: #FFFFFF;
}
.ul-first{
    display: flex;
    justify-content: center;
    gap: 8px;
   

}
button{
    
    font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.03em;
text-align: center;
     color: #212121;
    margin-bottom: 40px;
    padding: 6px 22px;
    border-radius: 4px;
    border: none;
}
.ul-second{
 gap: 30px;
 display: flex;
 flex-wrap: wrap;
 max-width: 1200px;
 margin: 0 auto;
}
.section-first{
    padding-top: 94px;
    padding-bottom: 94px;
}